{% extends "base.html" %} {% block content %}
<div class="page-content">
    <!-- Your content goes here -->
    {% if request.user.is_authenticated%} {% for message in messages %}
    <div>
      <span class="color-gray">[{{message.created_at}}]</span>
      {{ message.author }}:{{ message.text }}
    </div>
    {% endfor %}

    <form action="/chat/" method="POST">
      <div class="mdl-textfield mdl-js-textfield">
        {% csrf_token %}
        <input
          class="mdl-textfield__input"
          name="textmessage"
          type="text"
          id="sample1"
        />
        <label class="mdl-textfield__label" for="sample1">Text...</label>
      </div>
      <button
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
      >
        Send
      </button>
    </form>
    {% else %}
    <h1>You are not logged! Please log in <a href="/login/">here</a></h1>
    {% endif %}
  </div>

  {% endblock %}
<!-- Always shows a header, even in smaller screens. -->

  
