

{% extends "base.html" %} {% block content %}
<script>
    async function sendMessage(){
        let fd= new FormData();
        let token= '{{ csrf_token }}';
        let datum=new Date().toDateString().slice(4)
        fd.append('textmessage',messageField.value)
        fd.append('csrfmiddlewaretoken',token)
       
        try{
          console.log("try1")
       let response= 
          await fetch('/chat/',{
            method:'POST',
            body:fd
        })
        console.log('success')
        let json = await response.json()
        json=JSON.parse(json);
        datum=new Date(json.fields.created_at).toDateString().slice(4)
        document.getElementById("message-cont").innerHTML+=`
        <div id="temporaryMessage">
      <span class="color-gray">[${datum}]</span>
      {{ request.user }}:<span style="color:red">${json.fields.text}</span>
    </div>
        `
    }
        
        catch(e){
            console.error('failed',e)
        }
    }

</script>

<div class="page-content">
    <!-- Your content goes here -->
    <div id="message-cont">
    {% if request.user.is_authenticated%} {% for message in messages %}
    
    
    
    <div>
      <span class="color-gray">[{{message.created_at}}]</span>
      {{ message.author }}:{{ message.text }}
    </div>
    {% endfor %}
    </div>
    <form onsubmit="sendMessage();return false;"  method="POST">
      <div class="mdl-textfield mdl-js-textfield">
        {% csrf_token %}
        <input
          class="mdl-textfield__input"
          name="textmessage"
          type="text"
          id="messageField"
        />
        <label class="mdl-textfield__label" for="messageField">Text...</label>
      </div>
      <button
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
      >
        Send
      </button>
    </form>
    {% else %}
    <h1>You are not logged! Please log in <a href="/login/">here</a></h1>
    {% endif %}
  </div>

  {% endblock %}
<!-- Always shows a header, even in smaller screens. -->

  
